<div class="add-patient-screen">
    <h1>Add New Patient</h1>

    <form (ngSubmit)="onSubmit()" class="vac-form add-person-form">
        <mat-form-field appearance="fill" class="vac-form-field">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" [(ngModel)]="patient.firstName" name="firstName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="vac-form-field">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" [(ngModel)]="patient.lastName" name="lastName">
        </mat-form-field>

        <mat-form-field appearance="fill" class="vac-form-field">
            <mat-label>SA ID Number</mat-label>
            <input matInput placeholder="SA ID Number" [(ngModel)]="patient.saIdNumber" name="saIdNumber" type="text" mask="000000  0000  000" inputmode="tel">
        </mat-form-field>

        <mat-radio-group aria-labelledby="example-radio-group-label"
            class="vac-form-field vac-form-field-extra-padding" [(ngModel)]="patient.gender" name="gender" >
            <label id="example-radio-group-label">Gender</label>
            <mat-radio-button value="male">
                Male
            </mat-radio-button>
            <mat-radio-button value="female">
                Female
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="fill" class="vac-form-field">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="patient.dob" name="dob" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
            <mat-hint align="start">E.g. 1961/08/30</mat-hint>
        </mat-form-field>

         <div class="submit-button-area">
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>