<div class="av-screen">
    <h1>Manage All</h1>

    <mat-table [dataSource]="dataSource" class="manage-all-patients-table mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.lastName}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="risk">
            <mat-header-cell *matHeaderCellDef> Risk </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.risk}} </mat-cell>
        </ng-container> -->

        <!-- <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Manage </mat-header-cell>
            <mat-cell *matCellDef="let patient"> <button mat-button>Manage</button> </mat-cell>
        </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>