<div class="av-screen">
    <h1>Manage All</h1>

    <mat-table [dataSource]="dataSource" class="av-table manage-all-patients-table mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let patient"> {{patient.lastName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="risk">
            <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center"> Risk </mat-header-cell>
            <mat-cell *matCellDef="let patient" fxLayoutAlign="end center">  </mat-cell>
        </ng-container>

        <ng-container matColumnDef="manage">
            <mat-header-cell *matHeaderCellDef fxLayoutAlign="end center"> Manage </mat-header-cell>
            <mat-cell *matCellDef="let patient" fxLayoutAlign="end center"> 
                <button mat-icon-button color="primary" aria-label="Manage Patient" fxShow fxHide.md fxHide.lg fxHide.xl>
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button color="primary" fxHide fxShow.md fxShow.lg fxShow.xl>Manage</button> 
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>