<mat-toolbar color="primary" id="top-nav">
  <button mat-button class="top-nav-button" aria-label="AcmeVac brand" [routerLink]="['/']">
    <mat-icon class="av-brand-icon">support</mat-icon>
    <span>AcmeVac</span>
  </button>
  <span class=" example-spacer"></span>
  <div class="right-menu">
    <button mat-button class="right-menu__link" [routerLink]="['/patients']">Patients</button>
    <button mat-button class="right-menu__link">Schedule</button>
    <button mat-button class="right-menu__link">Communications</button>
  </div>
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>