@import "./theme-one.scss";
@import "~@angular/material/theming";
@include mat-core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vac-form {
  .vac-form-field {
    &.mat-radio-group {
      display: flex;
      flex-direction: column;

      .mat-radio-button {
        margin: .5em;
      }
    }
  }
  
  .vac-radio {
    display: flex;
  }
}

@media screen and (min-width: 960px){
  .vac-form {
  
    .mat-form-field.vac-form-field {
      // display: flex;
      width: 50%;
    }
  }
  
}