@import "./theme-one.scss";
@import "~@angular/material/theming";
@import "./breakpoints.scss";
@include mat-core();

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.av-screen {
	padding: 1rem;
	min-height: 100vh;
}

.vac-form {
	.vac-form-field {
		&.vac-form-field-extra-padding {
			padding-bottom: 1.34375em;
		}

		&.mat-radio-group {
			display: flex;
			flex-direction: column;

			.mat-radio-button {
				margin: 0.5em;
			}
		}
	}

	.vac-radio {
		display: flex;
	}

	.submit-button-area {
		margin-top: 3em;
	}
}

.mat-divider.mat-divider-horizontal {
	margin: 3em 0;
}

@media screen and (min-width: $MEDIUM) {
	.av-screen {
		padding: 1rem 3rem;
	}
	
	.vac-form {
		.vac-form-field {
			width: 50%;
		}
	}
}
