@import "./theme-one.scss";
@import "~@angular/material/theming";
@include mat-core();

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vac-form {
	.vac-form-field {
		&.vac-form-field-extra-padding {
			padding-bottom: 1.34375em;
		}

		&.mat-radio-group {
			display: flex;
			flex-direction: column;

			.mat-radio-button {
				margin: 0.5em;
			}
		}
	}

	.vac-radio {
		display: flex;
	}

	.submit-button-area {
		margin-top: 3em;
	}
}

.mat-divider.mat-divider-horizontal {
	margin: 3em 0;
}

@media screen and (min-width: 960px) {
	.vac-form {
		.vac-form-field {
			width: 50%;
		}
	}
}
