@import '~@angular/material/theming';
@include mat-core();

$theme-one-primary: mat-palette($mat-cyan);
$theme-one-accent: mat-palette($mat-red);
$theme-one-warn: mat-palette($mat-yellow);

$theme-one: mat-light-theme((
  color: (
    primary: $theme-one-primary,
    accent: $theme-one-accent,
    warn: $theme-one-warn,
  )
));

@include angular-material-theme($theme-one);